

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors:   (
    'white': #ffffff,
    'black': #23272a,
    'primary': (
      'base': #00796b,
    ),
    'success': (
      'base': #43a047,
    ),
    'warning': (
      'base': #ffb300,
    ),
    'danger': (
      'base': #ff5252,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #f5f5f5,
    )
  )
);
@import "@arcgis/core/assets/esri/themes/dark/main.css";
:root {
    background-color: black;
}

html, body {
  margin: 0;
  padding: 0;
}
